@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@import url('https://use.fontawesome.com/releases/v5.12.1/css/all.css');

/* GENERAL STYLES */

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  padding: 0;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  line-height: 1.4rem;
  color: #656565;
  font-weight: normal;
}

h1 {
  color: #273e4b;
  font-size: 4rem;
  font-weight: 600;
}


/* HEADER STYLES */
.header__navbar {
  background-color: #5c6e58;
}

.header__navbar.navbar {
  padding: 0;
}

.navbar-brand img {
  width: 50px;
  height: auto;
  margin: 5px;
}

.header__navbar a.button.btn {
  border-radius: 0;
  font-size: 0.87rem;
  width: 110px;
  margin: 0 5px;
}

.header__navbar a.button.btn.dark {
  background-color: #5c6e58;
  border: 1px solid #efede0;
  color: #efede0;
}

.header__navbar a.button.btn.light {
  background-color: #efede0;
  border: 1px solid #efede0;
  color: #5c6e58;
}

a:hover.button.btn.light,
a:hover.button.btn.dark {
  background-color: #273e4b;
  border: 1px solid #efede0;
  color: #efede0;
}

.main__hero-banner {
  width: 100%;
  height: 100vh;
  background-image: url(../images/chefscook.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  justify-content: center;
  display: flex;
  flex-flow: column wrap;
  padding-left: 100px;
}

/* SIGN UP / LOGIN STYLE */
.form-container {
  text-align: left;
  padding: 0;
  margin: 0 auto;
}

a.hiddenanchor {
  display: none;
}

.wrapper {
  width: 60%;
  right: 0px;
  min-height: 560px;
  margin: 0px auto;
  width: 500px;
  position: absolute;
  top: 15%;
  left: 0%;

}

.wrapper a {
  color: #273e4b;
  text-decoration: underline;
}

.wrapper h2 {
  font-size: 2rem;
  color: #273e4b;
  padding: 2px 0 30px 0;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
}

.wrapper p {
  margin-bottom: 15px;
}

.wrapper p:first-child {
  margin: 0px;
}

.wrapper label {
  color: #273e4b;
  position: relative;
}

::-webkit-input-placeholder {
  color: #656565;
  font-style: italic;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #656565;
  font-style: italic;
}

input {
  outline: none;
}

.animate form input::placeholder {
  color: #ccc;
}

.wrapper input:not([type="checkbox"]) {
  width: 95%;
  margin-top: 4px;
  padding: 10px 5px 10px 30px;
  border: 1px solid #ddd;
}

.wrapper input:not([type="checkbox"]):active,
.wrapper input:not([type="checkbox"]):focus {
  border: 1px solid #ddd;
  background: #ddd;
}

label.username:after {
  content: "\f007";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #273e4b;
  position: absolute;
  left: 10px;
  top: 36px;
  width: 30px;
}

label.password:after {
  content: "\f084";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #273e4b;
  position: absolute;
  left: 10px;
  top: 36px;
  width: 30px;
}

label.email:after {
  content: "\f1fa";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #273e4b;
  position: absolute;
  left: 10px;
  top: 36px;
  width: 30px;
}

.wrapper p.button input {
  width: 30%;
  cursor: pointer;
  background: #273e4b;
  padding: 8px 5px;
  color: #fff;
  font-size: 1rem;
  text-transform: uppercase;
  margin-bottom: 10px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.wrapper p.button input:hover {
  background: #5c6e58;
}

.wrapper p.button input:active,
.wrapper p.button input:focus {
  position: relative;
  top: 1px;
}

p.login.button,
p.signin.button {
  text-align: right;
  margin: 5px 0;
}

.keeplogin {
  margin-top: -5px;
}

.keeplogin input,
.keeplogin label {
  display: inline-block;
  font-size: 0.8rem;
  font-style: italic;
}

.keeplogin input#loginkeeping {
  margin-right: 5px;
}

.keeplogin label {
  width: 80%;
}

p.change_link {
  position: absolute;
  left: 0px;
  height: 20px;
  width: 100%;
  padding: 15px 30px 20px 30px;
  font-size: 1rem;
  text-align: right;
  border-top: 1px solid #ddd;
}

.wrapper p.change_link a {
  display: inline-block;
  background-color: #fff;
  padding: 2px 10px;
  color: #273e4b;
  margin-left: 10px;
  text-decoration: none;
  border: 1px solid #ddd;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.wrapper p.change_link a:hover {
  color: #5c6e58;

}

.wrapper p.change_link a:active {
  position: relative;
  top: 1px;
}

#register,
#login {
  position: absolute;
  top: 0px;
  width: 90%;
  padding: 20px 10px 60px;
  margin: 0 0 35px 0;
  background-color: #fff;
  border: 1px solid #ddd;
}

#register {
  z-index: 21;
  opacity: 0;
}

#login {
  z-index: 22;
}

#toregister:target~.wrapper #register,
#tologin:target~.wrapper #login {
  z-index: 22;
  -webkit-animation-name: fadeInLeft;
  -moz-animation-name: fadeInLeft;
  -ms-animation-name: fadeInLeft;
  -o-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  -o-animation-delay: .1s;
  -ms-animation-delay: .1s;
  animation-delay: .1s;
}

#toregister:target~.wrapper #login,
#tologin:target~.wrapper #register {
  -webkit-animation-name: fadeOutLeft;
  -moz-animation-name: fadeOutLeft;
  -ms-animation-name: fadeOutLeft;
  -o-animation-name: fadeOutLeft;
  animation-name: fadeOutLeft;
}

/** the actual animation, credit where due : http://daneden.me/animate/ ***/
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}

@-moz-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -moz-transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    -moz-transform: translateX(0);
  }
}

@-ms-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -ms-transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    -ms-transform: translateX(0);
  }
}

@-o-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -o-transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    -o-transform: translateX(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@-webkit-keyframes fadeOutLeft {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
  }
}

@-moz-keyframes fadeOutLeft {
  0% {
    opacity: 1;
    -moz-transform: translateX(0);
  }

  100% {
    opacity: 0;
    -moz-transform: translateX(-20px);
  }
}

@-ms-keyframes fadeOutLeft {
  0% {
    opacity: 1;
    -ms-transform: translateX(0);
  }

  100% {
    opacity: 0;
    -ms-transform: translateX(-20px);
  }
}

@-o-keyframes fadeOutLeft {
  0% {
    opacity: 1;
    -o-transform: translateX(0);
  }

  100% {
    opacity: 0;
    -o-transform: translateX(-20px);
  }
}

@keyframes fadeOutLeft {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(-20px);
  }
}

.fadeOutLeft {
  -webkit-animation-name: fadeOutLeft;
  -moz-animation-name: fadeOutLeft;
  -ms-animation-name: fadeOutLeft;
  -o-animation-name: fadeOutLeft;
  animation-name: fadeOutLeft;
}

.animate {
  -webkit-animation-duration: 0.5s;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: both;

  -moz-animation-duration: 0.5s;
  -moz-animation-timing-function: ease;
  -moz-animation-fill-mode: both;

  -o-animation-duration: 0.5s;
  -o-animation-timing-function: ease;
  -o-animation-fill-mode: both;

  -ms-animation-duration: 0.5s;
  -ms-animation-timing-function: ease;
  -ms-animation-fill-mode: both;

  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-fill-mode: both;
}

/* HOME HEADER STYLE */
.header__navbar .navbar-search .form-control {
  background-color: #404d3c;
  border-radius: 0;
}

.header__navbar .navbar-search .btn {
  background-color: #404d3c;
  color: #efede0;
  border-radius: 0;
}

.header__navbar input::placeholder {
  font-size: 0.8rem;
}

.header__navbar .img-profile {
  width: 22px;
  height: 22px;
  margin-top: -9px;
}

.dropdown-toggle::after {
  margin: -12px 0 0 40px;
}

.header__navbar .navbar-nav .nav-link {
  color: #efede0;
  display: flex;
  flex-flow: column;
  align-items: center;
  font-size: 0.8rem;
  margin: 0 5px;
  position: relative;
}

.header__navbar .navbar-nav .nav-link i {
  font-size: 1.2rem;
}

.header__navbar ul.dropdown-menu {
  border-radius: 0;
  background-color: #5c6e58;
}

.header__navbar a.dropdown-item {
  color: #efede0;
  font-size: 0.8rem;
}

.header__navbar a.dropdown-item:hover {
  background-color: #404d3c;

}

.header__navbar a.dropdown-item i {
  margin-right: 5px;
}




@media screen and (max-width: 1024px) {
  .header__navbar .dropdown-menu[data-bs-popper] {
    left: -50px;
    margin-top: 10px;
  }
}


@media screen and (max-width: 768px) {
  .wrapper {
    top: 80px;
  }

  .header__navbar .container {
    max-width: 100% !important;
    flex-wrap: nowrap;
  }

  .header__navbar .navbar-nav {
    flex-direction: row;
  }

  .header__navbar .navbar-nav .nav-link {
    margin: 10px;
  }

  .header__navbar .collapse:not(.show) {
    display: block;
  }

  .header__navbar .navbar-nav .dropdown-menu {
    margin-left: -40px;
  }

}


@media screen and (max-width: 576px) {
  h1 {
    font-size: 2rem;
  }

  .main__hero-banner {
    padding-left: 30px;
  }

  .wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .header__navbar .navbar-nav .dropdown-menu {
    position: absolute;
    margin-left: -40px;
  }

}